<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/user/js/vuejs-2.5.16.js"></script>
<script type="text/javascript" src="/user/js/axios.min.js"></script>
<link rel="stylesheet" href="/user/css/bootstrap.css"></link>
<script type="text/javascript" src="/user/js/jquery.js"></script>
<script type="text/javascript" src="/user/js/bootstrap.js"></script>

</head>
<body>
<img alt="" src="img/修改邮箱A.jpg">

 <div id="app" align="center" class="form-inline">
 <label for="exampleInputName2" style="font-size: 20px" ></label><p>
 <label for="exampleInputName2" style="font-size: 15px" >输入邮箱号:</label>
<input type="text" class="form-control" id="email" v-model="email" >
<label for="exampleInputName2" style="font-size: 15px" >输入验证码:</label>
 <input type="text" class="form-control" id="verif" v-model="verif" >
 

 <input type="hidden" v-model="verifs">
   <button id="YZMID"  class="btn btn-default" @click="show()">发送验证码</button><p>
   <span style="color: red ;font-size:11px">{{error}}</span><p>
 	<button id="login" class="btn btn-default" @click="sh()">下一步</button>
 	</div>
 	
 	<script type="text/javascript">
	var vm = new Vue({
		el: "#app",
		
		data: {
			email:'',
			verif:'',
		    verifs:'',
		    error:''
		},
		methods:{
			show(){
				axios.post("user/getEmail",{
				   email:this.email
				}).then(res=>{
					if(res.data.code==200){
						this.verifs=res.data.verifs
					}else{
						this.error="请输入正确的邮箱号";
					}
				})
			},
			sh:function(){
				if(this.verif==this.verifs  && this.verif!=""){
					document.location="xiugaiyouxiang.html?num="+this.email;
					
				}else{
					this.error="验证码错误";
				}
			}
		},
	})

</script>
 	
</body>
</html>