<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="/js/push.js"></script>
		<script async="" src="/js/analytics.js"></script>
		<script src="/js/hm.js"></script>
		<script async="" src="/js/gio.js"></script>
		<script type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
		<script>
			window._jHeadStart = ( new Date() ).getTime();
            window.tplConf = {
                user : {
                    userId : '15762833'
                },
                pageKey : '',
                autoPV : true,
                autoIdentify : true,
                we_renrendai_host: 'https://www.renrendai.com',
                _isWeCom: 'false',
                target: '_self',
                isProduction : true,
                pbId : ''
            };
        </script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta name="google-site-verification" content="oQXrGa_mTgxg7joO0himE0QuFeqOVmm-SDC1H2dzT4c">
		<meta name="baidu-site-verification" content="wibJopuIuI">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>【超人贷官网】专业值得信赖的p2p网络借贷信息中介平台</title>
		<link rel="shortcut icon" type="image/x-icon" href="/css/favicon-rrd.ico">
		<link rel="stylesheet" type="text/css" href="/css/base_02fd8b5.css">
		<script type="text/javascript">
			(function() {
				var userAgent = navigator.userAgent.toLowerCase();
				if (userAgent.match(/rv:([\d.]+)\) like gecko/) || userAgent.match(/msie ([\d.]+)/)) {
					document.write('<script src="//js/babel-polyfill.js"><\/script>');
				}
			})();
		</script>
		<style>@media print {#ghostery-purple-box {display:none !important}}</style>
		<script type="text/javascript" src="/js/181814.js" async="" defer="defer"></script>
		<script type="text/javascript">
			! function(e, t, n, g, i) {
				e[i] = e[i] || function() {
					(e[i].q = e[i].q || []).push(arguments)
				}, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' ==
					document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
			}(window, document, "script", "assets.growingio.com/2.1/gio.js", "gio");

			gio('init', 'bf0acacc0a738790', {});
			gio('setUserId', tplConf.user.userId);
			gio('send');
		</script>
		<link rel="stylesheet" href="/css/common_wdg_5724504.css">
		<link rel="stylesheet" href="/css/common_nm_2a02658.css">
		<link rel="stylesheet" href="/css/user_wdg_9509b0e.css">
		<link rel="stylesheet" href="/css/autoinvest_wdg_b047393.css">
		<link rel="stylesheet" href="/css/uplan_wdg_2810e41.css">
		<link rel="stylesheet" href="/css/p2pRecord_8e7e600.css">
		<style></style>
		
	</head>

<body>
	<div class="wdg-werenrendai-top-header">
		<div class="main-section">
			<span class="tel-phone"><i class="icon-phone"></i>客服电话: 88088</span>
			<ul class="site-nav">


				<li class="nav-item padding-item"><a target="_self" href="">WE55050521</a></li>
				<li class="nav-item">&nbsp;&nbsp;[<a target="_self"
					href="/passport/index/logout">退出</a>]
				</li>


				<li class="nav-item padding-item"><a target="_blank"
					rel="nofollow" href="/disclosure/information/lenderEducation">出借人教育</a></li>

				<li class="nav-item padding-item"><a target="_blank"
					rel="nofollow" href="/college">人人学院</a></li>

				<li class="nav-item padding-item"><a target="_blank"
					rel="nofollow" href="/about">关于我们</a></li>

				<li class="nav-item padding-item"><a target="_blank"
					href="/help">帮助中心</a></li>

				<li class="nav-item padding-item"><a target="_blank" href="">用户论坛</a></li>
				<li class="nav-item padding-item"><i class="icon-mobile3"></i><a
					target="_blank" href="">移动客户端</a></li>

			</ul>
		</div>
	</div>
	<div class="wdg-werenrendai-second-header">
		<div class="main-section current-channel-NONE">
			<a href="" class="brand-logo mt15">

				<h2 class="rrd-logo">超人贷</h2>

			</a>

			<ul class="site-nav">


				<li class="user-item fn-clear" num="15762833">

					<div userid="15762833" financestatus="false" ff="false"
						class="user-avatar-container fn-left">
						<img id="he-userAvatar" class="avatar-img"
							src="img/account-big_a53e8fa.png">
						<div class="avatar-masking">
							<a href=""></a>
						</div>
						<a href="https://www.chaorendai.com/user/message/list"
							class="msgcount-icon" id="header-msgcount"></a>
					</div>
					<div class="user-name fn-clear">
						<a href="https://www.chaorendai.com/user/account/p2p/index">我的账户</a>
					</div>

				</li>


				<li class="channel-item "><a rel="nofollow"
					href="/disclosure/information/index">信息披露</a></li>
				<li class="channel-item" style="width: 144px;"><a
					href="/credit" target="_blank">我要借款/还款</a></li>
				<li class="channel-item  can-lend"><a href="/uplan.html">我要出借</a>

				</li>
				<li class="channel-item "><a href="">首页</a></li>

			</ul>

		</div>

	</div>

	<div id="header-helper" style="display: none;">
		<span id="header-helper-authenticated"> true </span>
	</div>




	<div class="main-content">



		<div class="wdg-account-header-widget">
			<div class="main-section">
				<ul class="account-menu fn-clear">
					<!--网站拆分，werenrendai.com和we.com展示不同的header-->

					<li class=" "><a href="/user/account/p2p/index">P2P资产</a></li>
					<li class=" "><a href="/user/member/index">我的会员</a></li>
					<li class=" "><a href="/user/privilege">我的特权</a></li>
					<li class=" "><a href="/points.html">积分中心</a></li>
					<li class=" "><a href="/user/message/list">消息中心</a> <span
						class="org fn-hide">(0)</span></li>
					<li class=" "><a href="/user/setting/accountInfo">账户设置</a></li>



				</ul>
			</div>
		</div>

		<div id="pg-account-security" class="main-section j-card">





			<div id="recordList">
				<div class="recordHeader">
					<p class="recordHeader-history">
					<h3>P2P交易记录</h3>
					</p>
				</div>
				<div id="recordMain">
					<div id="record-header-tab" class="rui-tab record-tab-class"
						data-reactid=".0">
						<div data-reactid=".0.$/=11"></div>
						<div class="tab-panel " data-reactid=".0.$/=12">
							<div
								class="tab-panel-item record-detail-panel-item tab-panel-item-selected"
								data-reactid=".0.$/=12.$panel-item-2/=12">
								<div class="recordFilter"
									data-reactid=".0.$/=12.$panel-item-2/=12.0">
									<div class="list-loading hide"
										data-reactid=".0.$/=12.$panel-item-2/=12.0.0"></div>
									<div class="condition"
										data-reactid=".0.$/=12.$panel-item-2/=12.0.1">
										<div class="fn-clear time"
											data-reactid=".0.$/=12.$panel-item-2/=12.0.1.0">
											<div class="opt-tit"
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.0.0">起止日期</div>
											<div class="time-opt "
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.0.2">
												<input class="Wdate" onclick="WdatePicker()" 
													readonly="readonly" type="text" id="queryStartDate">
											</div>
											<div class="time-opt "
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.0.3">
												<input class="Wdate" onclick="WdatePicker()" 
													readonly="readonly" type="text" id="queryStopDate">
											</div>
											<div class="opt-tit"
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.0.0">交易类型</div>
											<div class="time-opt "
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.0.2">
												<select id="queryMethod">
													<option value="">--请选择--</option>
													<#list typeList as type>
														<option value="${type.id}">${type.typeName}</option>
													</#list>
												</select>
											</div>
											<div class="ty-opt sin " value="OTHER"
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.2.9">
												<input type="hidden" id="queryUserId" value="${userId}">
												<input type="button" v-on:click="search(paging)" value="点击搜索">
											</div>
											<a id="export"
												href="https://www.renrendai.com/account/capital!transactionExport.action?type=ALL&amp;time=ALL&amp;"
												target="_blank" class="fn-right"
												data-reactid=".0.$/=12.$panel-item-2/=12.0.1.2.a">导出查询结果</a>
										</div>

										<div class="fn-clear ty"
											data-reactid=".0.$/=12.$panel-item-2/=12.0.1.2">
										</div>
									</div>
									<div id="p2p-record-table"
										data-reactid=".0.$/=12.$panel-item-2/=12.0.2">
										<div class="ui-list"
											data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0">
											<div class="ui-list-group"
												data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0">
												<div class="ui-list-head"
													data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0">
													<ul class="list-header  dark fn-clear"
														data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0">
														<li class="w250 table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.0">交易时间</li>
														<li class="w250 table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.1">交易类型</li>
														<li class="w140 text-right p-r-20 table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.2">交易金额</li>
														<li class="w126 text-right table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.3">结余</li>
														<li class="w126 text-right table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.3">查看</li>
													</ul>
												</div>
												<!-- 受Vue接管的div -->
												<div id="app" class="ui-list-head"
													data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.1">
													<ul v-for="(record) in recordList" class="list-header"
														data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0">
														<li class="w250 table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.0">{{ record.record.createTime }}</li>
														<li class="w250 table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.1">{{ record.type.typeName }}</li>
														<li class="w140 text-right p-r-20 table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.2">{{ record.record.amount }}</li>
														<li class="w126 text-right table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.3">121.1</li>
														<li class="w126 text-right table-th"
															data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.0.0.3"><a v-on:click="showItemRecord(record.record.id)">查看</a></li>
													</ul>

												</div>
												<div class="list-no-data-text"
													data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.0.1"></div>
												<!-- 分页导航栏 -->
												<div class="ui-pagination" data-reactid=".0.2">
													<ul class="pagination" data-reactid=".0.2.0">
														<li class="previous" data-reactid=".0.2.0.0">
															<a data-reactid=".0.2.0.0.0" v-on:click="limit(1)">首页</a></li>
														<li class="previous" data-reactid=".0.2.0.0">
															<a data-reactid=".0.2.0.0.0" v-on:click="limit(paging.pageIndex-1)">上一页</a></li>
														<li class="previous" data-reactid=".0.2.0.0">
															<a data-reactid=".0.2.0.0.0" v-on:click="limit(paging.pageIndex+1)">下一页</a></li>
														<li class="next" data-reactid=".0.2.0.2">
															<a data-reactid=".0.2.0.2.0" v-on:click="limit(paging.pageTotal)">尾页</a></li>
													</ul>
												</div>
											</div>
											<div class="list-loading hide"
												data-reactid=".0.$/=12.$panel-item-2/=12.0.2.0.3"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-panel-item record-detail-panel-item"
								data-reactid=".0.$/=12.$panel-item-3/=13">
								<div class="recordFilter"
									data-reactid=".0.$/=12.$panel-item-3/=13.0">
									<div data-reactid=".0.$/=12.$panel-item-3/=13.0.0"></div>
									<div id="exchange-record-table"
										data-reactid=".0.$/=12.$panel-item-3/=13.0.1">
										<noscript data-reactid=".0.$/=12.$panel-item-3/=13.0.1.0"></noscript>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>



		<div id="bond-ne-dialog-id" class="j-dialog bond-ne-dialog"
			style="width: 700px; z-index: 9999; height: 316px; display: none;">

			<div class="bond-notice">
				<p class="bond-ne-title">用户利益保障机制调整公告</p>
				<div class="bond-ne-content">
					<div class="bond-ne-le">
						<span>尊敬的用户：</span>
						<div class="bond-main-content">
							超人贷平台自上线以来，一直致力为广大用户提供优质的网络借贷信息中介服务，根据《网络借贷信息中介机构业务活动管理暂行办法》的规定及响应监管要求，
							超人贷商务顾问（北京）有限公司（以下简称“超人贷”） 现对用户利益保障机制进行了调整，具体调整安排如下：人人贷商务</div>

						<div class="jump-to-all">
							<a
								href="https://www.renrendai.com/about/rrdHelp/protection/cmsId/59eee86985c66d1e7bad03b1"
								target="_blank">查看全部&gt;</a>
						</div>
					</div>
				</div>

				<div class="bond-ne-footer">
					<p class="bond-ne-sure">确认</p>
				</div>

			</div>
		</div>

		<div id="split-bond-mask-id" class="j-mask split-bond-mask"
			style="width: 100%; height: 100%; z-index: 9998; display: none;"></div>



		<div class="werenrendai-footer">
			<div class="footer-center">

				<div class="introduce" style="display: none;">
					<ul class="fn-clear">
						<li class="fn-left"><a class="gray" target="_blank"
							href="/about/about.action?flag=contact">联系我们</a></li>
					</ul>
				</div>
				<div class="introduce">
					<div class="service">客户服务</div>
					<ul class="fn-clear icons">
						<li class="fn-left"><a id="wexinBtn" class="gray"
							href="javascript:;" tabindex="-1">微信</a></li>
						<li class="fn-left"><a class="gray" target="_blank"
							rel="external nofollow"
							href="http://e.weibo.com/renrendai?ref=http%3A%2F%2Fwww.renrendai.com%2F">新浪微博</a></li>
						<li class="fn-left"><a
							class="gray cursor-pointer zhiCustomBtn" rel="external nofollow"
							target="_blank">在线客服</a></li>
					</ul>
				</div>
				<div class="desc">
					<span class="up-line"></span> <span class="down-line"></span>
					<div class="d-l">
						<div class="first">
							<div class="first-icon">©</div>
							<div class="year">2019</div>
							<div class="first-desc">超人贷商务顾问(北京)有限公司 All rights reserved
							</div>
						</div>
						<p class="gray">
							<span>深ICP证 100953号</span> <span
								style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px;">京公网安备
								11010502020657</span> 深ICP备12025643号-1
						</p>
						<div class="dangrous">
							<a
								href="https://www.renrendai.com/agreement/contract/currency/cmsId/58ec7c0d090cc9096532d0ca">
								<img src="img/danger_0a56ffa.png" class="ser">风险提示<img
								src="img/right_143d153.png" class="right">
							</a>

						</div>
					</div>
					<div class="d-c"></div>
					<div class="d-r">
						<div class="phone">88088</div>
						<div class="time">超人贷客服 (9:00-21:00)</div>
					</div>
				</div>
				<div class="img-show">
					<a rel="external nofollow"
						class="ui-footer-verification-item fn-left trust" id="kx_verify"
						href="https://ss.knet.cn/verifyseal.dll?sn=e13042311010040288j4wq000000&amp;ct=df&amp;a=1&amp;pa=931969"
						title="人人贷已通过中网权威数据库对比，获得“可信网站”身份验证，您可放心使用。" target="_blank">
					</a> <a rel="external nofollow"
						class="ui-footer-verification-item fn-left internet"
						href="http://si.trustutn.org/info?sn=881141203000033878231"
						title="人人贷已通过认证联盟权威数据库对比，获得“互联网金融行业认证”，您可放心使用。" target="_blank"></a>
					<a rel="external nofollow"
						class="ui-footer-verification-item fn-left itrust"
						title="人人贷已经成为中国互联网信用评价中心网络诚信联盟成员，并且完成企业信用评级 "
						href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/2554879344"
						target="_blank"></a> <a rel="external nofollow"
						class="ui-footer-verification-item fn-left customer"
						title="人人贷获评12315.com客户满意度测评中心最高等级满意度"
						href="http://www.itrust.org.cn/home/index/satification_certificate/wm/MY2017061202"
						target="_blank"></a> <a rel="external nofollow"
						class="ui-footer-verification-item fn-left copper"
						title="人人贷已经完成在公安机关的信息备案，您可了解网站相关备案信息。"
						href="http://gawa.bjchy.gov.cn/websearch/" target="_blank"></a>

				</div>
			</div>
		</div>

		<div class="fixed-download-link">
			<div class="download-link-wrap">
				<a class="calc"
					href="https://www.renrendai.com/calculator/prodType/Loanplan"
					target="_blank"> <img src="img/calc_58f7ccc.png" alt="人人贷回报计算">
					<div class="hover">回报计算</div>
				</a> <a class="help zhiCustomBtn" href="javascript:;"> <img
					src="img/help_8052a76.png" alt="人人贷在线客服">
					<div class="hover">在线客服</div>
				</a> <a class="download"> <img src="img/download_cc99e0e.png"
					alt="下载APP">
					<div class="hover">下载APP</div>
				</a> <a class="top"> <img src="img/arrow_15105f4.png" alt="向上滑动箭头">
				</a>
			</div>
			<div class="app-link-wrap">
				<img class="qrcode" src="img/qrcode_c0a844e.png" alt="人人贷APP下载">
				<div class="link">
					<div class="text">APP下载</div>
					<a rel="external nofollow"
						href="https://itunes.apple.com/cn/app/id883561142?mt=8"
						target="_blank" class="ios">iOS版</a> <a
						href="https://www.renrendai.com/event/download.action?type=apk"
						target="_blank" class="android">Android版</a>
				</div>
			</div>
		</div>

		<div class="fn-hide"></div>


		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?a00f46563afb7c779eef47b5de48fcde";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();


			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://s0.renrendai.com/cms/5864b0d6a24d131067ef7956/js/analytics.js', 'ga');
			ga('create', 'UA-93150356-1', 'auto');
			ga('send', 'pageview');
		</script>



		<script src="/js/entrance.js" class="zhiCustomBtn" id="zhichiScript"
			data-args="manual=true"></script>

		<script>
			(function() {
				//初始化智齿咨询组件实例
				var zhiManager = (getzhiSDKInstance());
				//再调用load方法
				zhiManager.on("load", function() {
					zhiManager.initBtnDOM();
				});
				zhiManager.set('powered', false);
				zhiManager.set('customBtn', 'true');
				zhiManager.set('robotFlag', '2');
				//指定技能组
				if (window.tplConf.isProduction) {
					//线上环境
					zhiManager.set('transferAction',
						'[{"actionType":"to_group","deciId":"3393553ec69a48cabb87a8fd17d61343","optionId":3,"spillId":4},{"actionType":"to_group","deciId":"8c9fa1aeb52f4fcb8be2e35607fc6c7f","spillId":4}]'
					);
				} else {
					//测试环境
					zhiManager.set('transferAction',
						'[{"actionType":"to_group","deciId":"983eea0476cc479392c4175c7b86418b","optionId":3,"spillId":4},{"actionType":"to_group","deciId":"41152a5772b149a1a9b1fedf1306c66d","spillId":4}]'
					);
				}

				//对接身份

				var uname = 'WE55050521';
				var realName = '';
				zhiManager.set('userinfo', {
					uname: uname,
					partnerId: uname,
					realname: realName

				});

			})();
		</script>
		<script type="text/javascript" src="/js/mod_f76e019.js"></script>
		<script type="text/javascript" src="/js/common_nm_bbfb324.js"></script>
		<script type="text/javascript" src="/js/common_wdg_6fdbabe.js"></script>
		<script type="text/javascript" src="/js/autoinvest_wdg_10f405a.js"></script>
		<script type="text/javascript" src="/js/uplan_wdg_2773c14.js"></script>
		<script type="text/javascript" src="/js/user_wdg_19946f1.js"></script>
		<script type="text/javascript" src="/js/layout_c0258d7.js"></script>
		<script type="text/javascript">
			! function() {
				require(["common:page/layout.js"], function(app) {

					app.initUtmOperate();
				});
			}();
			! function() {
				require(["common:widget/werenrendai-home/second-header/second-header"], function(header) {
					header.init();
				});
			}();
			! function() {
				require(["common:widget/werenrendai-home/footer/footer"], function() {});
			}();
			! function() {

				var result =
					'{\u0022status\u0022:0,\u0022message\u0022:\u0022成功\u0022,\u0022data\u0022:{\u0022totalCount\u0022:0,\u0022list\u0022:[]},\u0022error\u0022:null,\u0022extras\u0022:{\u0022headers\u0022:{\u0022server\u0022:\u0022Tengine\u0022,\u0022date\u0022:\u0022Mon, 12 Aug 2019 10:55:56 GMT\u0022,\u0022content\u002Dtype\u0022:\u0022application/json\u003Bcharset\u003DUTF\u002D8\u0022,\u0022transfer\u002Dencoding\u0022:\u0022chunked\u0022,\u0022connection\u0022:\u0022close\u0022,\u0022vary\u0022:\u0022Accept\u002DEncoding\u0022},\u0022statusCode\u0022:200}}';
				result = JSON.parse(result);

			}();
		</script>


		<div class="j-dialog"
			style="display: none; width: 350px; z-index: 9999;">
			<header class="j-dialog-title-con" style="height: 0px;">
				<h1 class="j-dialog-title"></h1>
				<span class="j-dialog-close-btn">×</span>
			</header>
			<div class="j-dialog-header" style="display: none;"></div>

			<div class="j-dialog-btn-con" style="display: none;"></div>
			<div class="j-dialog-footer" style="display: none;"></div>

			<div id="zhichiBtnBox"
				style="position: fixed; z-index: 2147483583; box-shadow: rgba(15, 66, 76, 0.25) 0px 0px 14px 0px; width: 60px; height: 60px; border-radius: 50%; background-color: rgb(9, 174, 176); background-image: url(&quot;//www.sobot.com/chat/frame/imgs/icon.png&quot;); background-repeat: no-repeat; background-position: 18px -58px; right: 40px; bottom: 20px; display: none;">
				<a hidefocus="" id="zhichiBtn"
					style="position: relative; text-decoration: none; outline: none; font-family: Microsoft Yahei, Arial, Helvetica; color: #fff; font-size: 16px; display: inline-block; margin: 0; padding: 0; border: none; line-height: 43px; float: none; width: 100%; height: 100%; border-radius: 50%;"><span
					class="zc-advice-icon-btn-title"
					style="box-shadow: rgba(107, 113, 114, 0.15) 0px 2px 4px 0px; border: 1px solid rgb(235, 239, 240); font-family: Microsoft Yahei, Arial, Helvetica; color: rgb(85, 85, 86); font-size: 13px; margin: 0px; text-align: right; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; top: 15px; right: 70px; text-overflow: ellipsis; white-space: nowrap; word-break: normal; display: none; border-radius: 3px; padding: 0px 5px; height: 30px; line-height: 30px;">咨询在线客服</span></a><i
					style="position: absolute; top: 0px; right: 0px; padding: 1px; line-height: 20px; text-align: center; color: #fff; font-weight: bold; height: 18px; min-width: 18px; background-color: #ed5c5c; border-radius: 18px; font-size: 12px; display: none; font-style: normal;"
					id="zhichiCount"></i>
			</div>

			<!-- 使用vue从后台获取交易记录 -->
			<script type="text/javascript" src="/vuejs/vuejs-2.5.16.js"></script>
			<script type="text/javascript" src="/vuejs/axios-0.18.0.js"></script>
			<script type="text/javascript">
			new Vue({
				el: "#recordList",
				data: {
					record:{id:"",topUpNo:"",createTime:"",method:"",amount:"",userId:""},
					recordList:[],
					paging:{
						pageSize:"5",
						rowCount:"",
						pageIndex:"",
						pageTotal:"",
						startRow:"",
						endRow:"",
						query:{
							queryUserId:"",
							queryMethod:"",
							queryStartDate:"",
							queryStopDate:""
						}
					}
				},
				methods: {
					showMyAllRecord:function(paging){
						var _this=this;
						axios.post("/user/record/showMyAll", _this.paging)
							.then(function(response){
								/*处理响应数据*/
								_this.recordList=response.data.recordList;
								_this.paging=response.data.paging;
								console.log(response);
							})
							.catch(function(error){
								console.log(error);
							});
					},
					showItemRecord:function(recordId){
						var _this=this;
						axios.get("/user/record/showItem",{
								params:{id:recordId}
							})
							.then(function(response){
								/*处理响应数据*/
								_this.record=response.data.record;
								alert(_this.record.id);
								console.log(response);
							})
							.catch(function(error){
								console.log(error);
							});
					},
					search:function(){
						var start=$("#queryStartDate").val();//判断
						var stop=$("#queryStopDate").val();//判断
						var userId=$("#queryUserId").val();//判断
						var method=$("#queryMethod").val();//判断
						this.paging.query.queryStartDate=start;
						this.paging.query.queryStopDate=stop;
						this.paging.query.queryUserId=userId;
						this.paging.query.queryMethod=method;
						this.showMyAllRecord(this.paging);
					},
					limit:function(pageIndex){
						this.paging.pageIndex=pageIndex;
						this.showMyAllRecord(this.paging);
					}
				},
				created:function(){
					this.showMyAllRecord();
				}
			});										
			</script>
</body>
</html>
