<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.CreditorOrderRecordDao">
	<!-- 插入订单记录 -->	
	<insert id="insertCreditOrderRecord" parameterType="com.zl.pojo.CreditorOrderRecord">
		insert into CREDITOR_ORDER_RECORD (ID, RECORD_NO, BUYER_USER_ID, 
	      AMOUNT, SUBJECT_MATTER_ID, CONTRACT_URL, 
	      CREATE_TIME, SELLER_USER_ID, ORIGIN_SUBJECT_MATTER_ID
	      )
	    values (#{id}, #{recordNo}, #{buyerUerId}, 
	      #{amount}, #{subjectMatterId}, #{contractUrl}, 
	      #{createTime}, #{sellerUserId}, #{originSubjectMatterId}
	      )
	</insert>
	<!-- 按ID查询订单记录 -->
	<select id="selectOrderRecordById" parameterType="java.lang.Long" resultType="com.zl.pojo.CreditorOrderRecord">
		select ID, RECORD_NO, BUYER_USER_ID, 
	      AMOUNT, SUBJECT_MATTER_ID, CONTRACT_URL, 
	      CREATE_TIME, SELLER_USER_ID, ORIGIN_SUBJECT_MATTER_ID
	    from CREDITOR_ORDER_RECORD
	    where ID=#{id}
	</select>
	<!-- 按原始标的ID查询订单记录 -->
	<select id="selectOrderRecordByOriginSubjectId" parameterType="java.lang.Long" resultType="com.zl.pojo.CreditorOrderRecord">
		select ID, RECORD_NO, BUYER_USER_ID, 
	      AMOUNT, SUBJECT_MATTER_ID, CONTRACT_URL, 
	      CREATE_TIME, SELLER_USER_ID, ORIGIN_SUBJECT_MATTER_ID
	    from CREDITOR_ORDER_RECORD
	    where ORIGIN_SUBJECT_MATTER_ID=#{originSubjectMatterId}
	</select>
	<!-- 按本标的ID查询订单记录 -->
	<select id="selectOrderRecordBySubjectId" parameterType="java.lang.Long" resultType="com.zl.pojo.CreditorOrderRecord">
		select *
	    from CREDITOR_ORDER_RECORD
	    where SUBJECT_MATTER_ID=#{subjectMatterId}
	</select>
	
	
	<select id="selectOrderRecordByUserId" parameterType="java.lang.Long" resultType="com.zl.pojo.CreditorOrderRecord">
		select * from CREDITOR_ORDER_RECORD where seller_user_id=#{sellerUserId}
	</select>
</mapper>
