<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.CreditDao">
	<!-- 插入债权信息 -->
	<insert id="insertCredit" parameterType="com.zl.pojo.CreditorOrderRecord">
		insert into CREDIT (ID, CREDIT_NO, DEBITOR_USER_ID, 
	      CREDITOR_USER_ID, SUBJECT_ID, AMOUNT
	      )
	    values (#{id}, #{creditNo}, #{debitorUserId}, 
	      #{creditorUserId}, #{subjectId}, #{amount}
	      )
	</insert>
	<!-- 根据ID查询记录 -->
	<select id="selectCreditById" resultType="com.zl.pojo.Credit" parameterType="java.lang.Long">
		select ID, CREDIT_NO, DEBITOR_USER_ID, 
	      CREDITOR_USER_ID, SUBJECT_ID, AMOUNT
	    from CREDIT
	    where ID=#{id}
	</select>
	<!-- 根据原始标的ID查询记录 -->
	<select id="selectCreditBySubjectId" resultType="com.zl.pojo.Credit" parameterType="java.lang.Long">
		select ID, CREDIT_NO, DEBITOR_USER_ID, 
	      CREDITOR_USER_ID, SUBJECT_ID, AMOUNT
	    from CREDIT
	    where SUBJECT_ID=#{subjectId}
	</select>
	<!-- 根据debitorUserId出借人ID和subjectId原始标的ID修改amount金额 -->
	<update id="updateCreditAmount" parameterType="com.zl.pojo.Credit">
		update CREDIT set AMOUNT=#{amount} 
		where DEBITOR_USER_ID=#{debitorUserId}
		and SUBJECT_ID=#{subjectId}
	</update>
	<!-- 根据debitorUserId出借人ID和 subjectId原始标的ID查询Credit表-->
	<select id="selectCreditByDebitorUserIdAndSubjectId" parameterType="com.zl.pojo.Credit" resultType="com.zl.pojo.Credit">
		select * from CREDIT where BUYER_USER_ID=#{buyerUserId} and
			SUBJECT_ID={subjectId}
	</select>
	
	<select id="selectCreditByCreditorAndState" parameterType="java.util.Map" resultType="comd.zl.pojo.Credit">
		select * from credit where user_id=#{userId} and state=#{state}
	</select>
</mapper>
