<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.OverdueRecordMapper">
  <resultMap id="BaseResultMap" type="com.zl.pojo.OverdueRecord">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="SUBJECT_MATTER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="TERM" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="OVERDUE_STATUS" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUBJECT_MATTER_ID, TERM, OVERDUE_STATUS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OVERDUE_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OVERDUE_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zl.pojo.OverdueRecord">
    insert into OVERDUE_RECORD (ID, SUBJECT_MATTER_ID, TERM, 
      OVERDUE_STATUS, CREATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{subjectMatterId,jdbcType=DECIMAL}, #{term,jdbcType=DECIMAL}, 
      #{overdueStatus,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.OverdueRecord">
    insert into OVERDUE_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="subjectMatterId != null">
        SUBJECT_MATTER_ID,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="overdueStatus != null">
        OVERDUE_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="subjectMatterId != null">
        #{subjectMatterId,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        #{term,jdbcType=DECIMAL},
      </if>
      <if test="overdueStatus != null">
        #{overdueStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.OverdueRecord">
    update OVERDUE_RECORD
    <set>
      <if test="subjectMatterId != null">
        SUBJECT_MATTER_ID = #{subjectMatterId,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        TERM = #{term,jdbcType=DECIMAL},
      </if>
      <if test="overdueStatus != null">
        OVERDUE_STATUS = #{overdueStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.pojo.OverdueRecord">
    update OVERDUE_RECORD
    set SUBJECT_MATTER_ID = #{subjectMatterId,jdbcType=DECIMAL},
      TERM = #{term,jdbcType=DECIMAL},
      OVERDUE_STATUS = #{overdueStatus,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.zl.pojo.OverdueRecord">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="SUBJECT_MATTER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="TERM" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="OVERDUE_STATUS" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUBJECT_MATTER_ID, TERM, OVERDUE_STATUS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OVERDUE_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from OVERDUE_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zl.pojo.OverdueRecord">
    insert into OVERDUE_RECORD (ID, SUBJECT_MATTER_ID, TERM, 
      OVERDUE_STATUS, CREATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{subjectMatterId,jdbcType=DECIMAL}, #{term,jdbcType=DECIMAL}, 
      #{overdueStatus,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.OverdueRecord">
    insert into OVERDUE_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="subjectMatterId != null">
        SUBJECT_MATTER_ID,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="overdueStatus != null">
        OVERDUE_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="subjectMatterId != null">
        #{subjectMatterId,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        #{term,jdbcType=DECIMAL},
      </if>
      <if test="overdueStatus != null">
        #{overdueStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.OverdueRecord">
    update OVERDUE_RECORD
    <set>
      <if test="subjectMatterId != null">
        SUBJECT_MATTER_ID = #{subjectMatterId,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        TERM = #{term,jdbcType=DECIMAL},
      </if>
      <if test="overdueStatus != null">
        OVERDUE_STATUS = #{overdueStatus,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.pojo.OverdueRecord">
    update OVERDUE_RECORD
    set SUBJECT_MATTER_ID = #{subjectMatterId,jdbcType=DECIMAL},
      TERM = #{term,jdbcType=DECIMAL},
      OVERDUE_STATUS = #{overdueStatus,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>