<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.RepaymentRecordMapper">
  <resultMap id="BaseResultMap" type="com.zl.pojo.RepaymentRecord">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="SUBJECT_MATTER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="AMOUNT" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="TERM" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.zl.pojo.RepaymentRecord">
    
      <id property="id" column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <result property="subjectMatterId" column="SUBJECT_MATTER_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <result property="amount" column="AMOUNT" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <result property="term" column="TERM" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <result property="createTime" column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  
  </resultMap>
  <select id="selectRepaymentRecordBySubjectMatterId" parameterType="java.lang.Long" resultMap="ResultMap">
  	select <include refid="Base_Column_List" />
    from REPAYMENT_RECORD where SUBJECT_MATTER_ID=#{id}
  </select>
  <sql id="Base_Column_List">
    ID, SUBJECT_MATTER_ID, AMOUNT, TERM, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPAYMENT_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from REPAYMENT_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zl.pojo.RepaymentRecord">
    insert into REPAYMENT_RECORD ( SUBJECT_MATTER_ID, AMOUNT, 
      TERM, CREATE_TIME)
    values ( #{subjectMatterId,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{term,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.RepaymentRecord">
    insert into REPAYMENT_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="subjectMatterId != null">
        SUBJECT_MATTER_ID,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="subjectMatterId != null">
        #{subjectMatterId,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        #{term,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.RepaymentRecord">
    update REPAYMENT_RECORD
    <set>
      <if test="subjectMatterId != null">
        SUBJECT_MATTER_ID = #{subjectMatterId,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        TERM = #{term,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.pojo.RepaymentRecord">
    update REPAYMENT_RECORD
    set SUBJECT_MATTER_ID = #{subjectMatterId,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      TERM = #{term,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
 
</mapper>