<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.ReturnRecordMapper">
  <resultMap id="BaseResultMap" type="com.zl.pojo.ReturnRecord">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="CREDIT_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="AMOUNT" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="TERM" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREDIT_ID, AMOUNT, TERM, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RETURN_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from RETURN_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zl.pojo.ReturnRecord">
    insert into RETURN_RECORD (ID, CREDIT_ID, AMOUNT, 
      TERM, CREATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{creditId,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{term,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.ReturnRecord">
    insert into RETURN_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="creditId != null">
        CREDIT_ID,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="creditId != null">
        #{creditId,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        #{term,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.ReturnRecord">
    update RETURN_RECORD
    <set>
      <if test="creditId != null">
        CREDIT_ID = #{creditId,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        TERM = #{term,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.pojo.ReturnRecord">
    update RETURN_RECORD
    set CREDIT_ID = #{creditId,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      TERM = #{term,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.zl.pojo.ReturnRecord">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="CREDIT_ID" javaType="java.lang.Long" jdbcType="DECIMAL" />
      <arg column="AMOUNT" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="TERM" javaType="java.lang.Short" jdbcType="DECIMAL" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREDIT_ID, AMOUNT, TERM, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from RETURN_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from RETURN_RECORD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zl.pojo.ReturnRecord">
    insert into RETURN_RECORD (ID, CREDIT_ID, AMOUNT, 
      TERM, CREATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{creditId,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{term,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zl.pojo.ReturnRecord">
    insert into RETURN_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="creditId != null">
        CREDIT_ID,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="creditId != null">
        #{creditId,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        #{term,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.pojo.ReturnRecord">
    update RETURN_RECORD
    <set>
      <if test="creditId != null">
        CREDIT_ID = #{creditId,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="term != null">
        TERM = #{term,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.pojo.ReturnRecord">
    update RETURN_RECORD
    set CREDIT_ID = #{creditId,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      TERM = #{term,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>