<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.CompanyCardDao">
	 
	 <update id="updateCompanyCard" parameterType="companyCard">
	 	update company_card set amount=#{amount} where id=#{id}
	 </update>
	 <select id="selectCompanyCardById" parameterType="java.lang.Integer" resultType="companyCard">
	 	select * from company_card where id=#{id}
	 </select>
	 
</mapper>