<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.dao.OperationLogDao">
	 
	 <insert id="insertOperationLog" parameterType="operationLog">
	 	insert into operation_log (user_id,type_id,is_success,create_time,log_no) values (#{userId},#{typeId},#{isSuccess},#{createTime},#{logNo})
	 </insert>
	 
</mapper>